section.core{
  background-color: gainsboro;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.core ul.pelis {
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  padding:0;
  width:100%;
}
section.core ul.pelis li{
  width:17.5%;
  margin:1.25%;
}
section.core ul.pelis li div.imagen{
  position: relative;
}
section.core ul.pelis li div.imagen h1{
  position:absolute;
  top:0;
  text-align: center;
  width:100%;
  background-color: black;
  color:white;
  margin:0;
  padding-top:5px;
  font-size: 1.8em;
}
section.core h1{
  width: 100%;
text-align: center;
}

div.page ul{
  list-style: none;
  padding:0;
  display:flex;
  justify-content: center;
}
div.page ul li{
  width:40px;
  height:40px;
  font-size:2em;
  background-color: white;
  margin:1px;
  border-radius: 5px;
  text-align: center;
  padding-top:2px;
}

div.page{
  justify-content: center;
  width:50%;
  display:flex;
}
div.page ul li button{
  margin:0;
  margin-left:1%;
  padding:0;
  border:0;
  width:100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .bottom-100{
    top:-444px;
    transition: 1s;
  }
  .w-15{
    width:55%;
    font-size: 1em;
  }
  section.generos ul li{
    height:4.8vh;
  }
  .r-15{
    right:55%;
  }
  body{
    background-color: #4ea0e8;
  }
  header{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:50px;
    background-color: #00E8AE;
    display: block;
    transition: 1s;
  }
  header nav {
    height:50px;
    display:block;
    display:flex;
    flex-wrap:wrap;
    transition: 1s;
  }
  header div{
    margin:0;
    border:0;
  }
  #span{
    display:block;
    position: relative;
    height:50px;
    width:100%;
    background-color: #00E8AE;
  }
  #span button{
    width:50px;
    background-color: #00E8AE;
    height:50px;
    position: absolute;
    right:0;
  }
  header nav div.logo, header nav div.bienvenido, header nav div.navbar, header nav div.form{
    width:100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  header nav div.logo button{
    display:block;
  }
  header nav div.navbar ul.nav{
    display:flex;
    flex-wrap:wrap
  }
  header nav div.navbar ul.nav li.nav-item {
    width:100%;
  }
  header nav div.form{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  header nav div.form input{
    width:300px;
    height:60px;
  }
  header nav div.form button{
    width:60px;
    height:60px;
  }
  header nav div.navbar ul.nav li div.login{
    right:55px;
  }
  div.container{
    padding-top:0px;
  }
  section.core ul.pelis li {
    width: 45%;
    margin: 2.5%;
  }
  section.core ul.pelis li div.imagen h1{
    font-size: 1.5em;
  }
  footer{
    height: 100%;
  }
  footer div.nombres{
    margin-left: 10%;
  }
  footer div.tmdb{
    width:40%;
  }
}
