section.core{
  height:60vh;
  width:100%;
  background-color: white;
  padding:1%;
  display:flex;
  flex-wrap: wrap;
}

section.core div.imagen {
  width:20%;
  padding:1%;
  border:1px solid black;
  display:flex;
  align-items: center;
}
section.core div.imagen {

}

section.core div.descripcion{
  width:70%;
  padding: 1%;
}

section.core div.descripcion h2 {
  display: flex;
  align-items: center;
  font-size:3em;
}

section.core div.descripcion button{
  width:45px;
  margin:0;
  margin-left:1%;
  padding:0;
  border:0;

}
section.core div.descripcion p{
    font-size: 1.4em;
    margin-top: 10px;
}

section.core div.descripcion div.gen{
  font-size:1.5em;
}

section.core div.descripcion div.media{
  margin: 10px 0;
font-size: 2em;
color: gold;
}
h3.vermas{
  background-color: white;
  margin:0;
  padding:10px;
}


section.similares {
  background-color: black;

}
section.similares img{

}
ul.uk-slider-items{}
ul.uk-slider-items h1{
  margin: 0 auto;
  width:80%;
  text-align: center;
padding: 5px;
background-color: rgba(150,150,150,0.5);
}
