* {
  font-family: sans-serif // hay que elegir una fuente que les guste en https://fonts.google.com/ y despues agregarla
}

section.generos{
  position:fixed;
  right:0;
  top:0;
  height: 100%;
  width:15%;
  background-color:red;
  margin-top:0
}

section.generos img{
  width: 100%;
}

.container {
  background-color: orange;
  margin-top:15vh;
  width: 85%;
  margin-left: 0;
  padding:0;
}

header nav {
  background-color: black;
  height:15vh;
  margin:0;
  padding:0;
  position: fixed;
  top:0;
  width:85%;
}

div.peliculas {
  font-size: 2em;
}

div.peliculas section.valoradas {
  background-color: yellow;
}

div.peliculas img {
  width: 50%;
  margin-left:25%;
  margin-right:25%;
}
