* {
  font-family: sans-serif // hay que elegir una fuente que les guste en https://fonts.google.com/ y despues agregarla
}

section.generos{
  position:fixed;
  right:0;
  top:0;
  height: 100%;
  width:15%;
  background-color:rgba(183, 186, 188,0.9);
  margin-top:0
}

body{
  background-color: #00E8AE
}

section.generos img{
  width: 100%;
}
.display-none {
  display: none;

}

.display-block {
  display: block;
}


.container {
/* <<<<<<< Updated upstream
  background-color: black;
=======
  background-color: black ;

>>>>>>> Stashed changes */
  margin-top:15vh;
  width: 85%;
  margin-left: 0;
  padding:0;
  

}

header nav {
  background-color: grey ;
  height:15vh;
  margin:0;
  padding:0;
  position: fixed;
  top:0;
  width:85%;
  z-index: 50;
}

div.carrusel {
  font-size: 2em;
  z-index: 1;
  background-color: black;
}

div.carrusel section.valoradas {
  background-color: black;
}

div.carrusel img {
  width: 50%;
  margin: 0 auto;
}
.carousel-inner>.item>img{
    height: 90vh;

}
.container2{
  width: 50%;
  margin: 0 auto;
}
h2{
  text-align: center;
  font-weight: bold;
}

div.peliculas {
  overflow: hidden;
}

section.valoradas{
  float: left;
  width: 50%
}

section.proximas{
  float: left;
  width: 50%;
}

div.peliculas2{
  overflow: hidden;
}

section.nombres1{
  float: left;
  width: 50%;
}
section.banner1 {
    float: left;
    text-align: center;
    width: 43%;
    background-color: black;
}
section.banner1 img {
  width: 100%;

}
.valoradas p{
  text-align: center;
  font-weight: bold;
}
.proximas p{
  text-align: center;
  font-weight: bold;
}
.peliculas3{
  overflow: hidden;
}
.nombres2{
  float: left;
  width: 50%;
}
.banner2{
  float: left;
  background-color: black;
  text-align: center;
  width: 43%;
  height: 50vh;
}
section.banner2 img {
  width: 100%;
}
